<%- include('particles/header.ejs') %>

<h1 class="text-green-500">Index</h1>

<p>Items count: <%= items.length; %>
</p>

<div x-data="{ counter: 0 }">
    Counter is <span @click="counter++"
        class="inline-block bg-blue-500 cursor-pointer text-white py-1 px-2 rounded-md"
        x-text="counter"></span>
</div>

<%- include('particles/footer.ejs') %>
